body{
  margin: auto; background: #e5eae8;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

ul{
  list-style: none; /*removes the marking style of list */
}

a{
  text-decoration: none; /*removes the underline from the anchored text */
}

header{
  background: #1a1a1a;
  background-image: url("header.gif");
  background-color: #1a1a1a;
  background-position: top left; background-repeat: repeat;
  border-bottom:0.5px solid #e5eae8; border-width: medium;
  padding:1%;
  display: flex;flex-direction: row; /* displays the header container in a row*/

}

.image{
  width: 25%; /* defines the width of the left section of the header*/
}

.image img{
  height: 70px; /*defines the size of an image */
  width: 307px;
}

.menubar{
  width: 75%; /* defines the width of the right section of the header*/
}

.menubar ul{
  display: flex; flex-flow: row-reverse; /*reverses the flex-item */
}

.menubar ul li {
  margin-left: 3px;
}

.menubar ul li:hover{
    opacity: 0.9; /*on hover the opacity is applied to the list items */
}

section{
  /*background: #e5eae8;*/
  background-image: url("bg.gif");
  background-position: left top;
  background-repeat: repeat;
  display: flex; flex-direction: row; /*Sets the flex-items in a row */

}

.leftnull{
  width: 20%;

}

.main{
  width: 60%;

  display: flex;flex-direction: column;

}

.menuleft{
  margin: 10px;
}

.top{
  height: 30px;

}

.bottom{
  border-radius: 15px;
  box-shadow: 5px 5px 10px #878985;
  background: #7aa244;

}

.text{
  font-family: "Philosopher Regular", Philosopher, sans-serif; font-size: 20px;
  text-align: left;
  text-align: justify;
  padding: 3%;

}

.text h4{
  border-bottom: 1px solid #1a1a1a;
}



.about{
  background-color: #7aa244;
    border: none;
    color: #e5eae8;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-family: "Philosopher Regular", Philosopher, sans-serif; font-size: 22px;
    width: 135px;
    height: 40px;
    margin-left: 300px;
    margin-top: 3px;
}


.menuright{

  display: flex; flex-direction: row;
  margin: 10px;

}

.bar1{
  background:#7aa244;
  width: 150px;
  height: 150px;
  margin: 20px;
  box-shadow: 5px 5px 10px  #878985;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 12%;
}

.bar1 p{
  font-family: "Philosopher Regular", Philosopher, sans-serif;
  font-size: 25px;
  text-align: center;
  color: #1a1a1a;
  padding: 22%;
}

.bar2{
  width: 150px;
  height: 150px;
  background: #1a1a1a;
  margin: 37px;
  margin-left: 6%;
  box-shadow: 5px 5px 10px #878985;
  border-radius: 50%;
  margin-top: 20px;

}

.bar2 p{
  font-family: "Philosopher Regular", Philosopher, sans-serif;
  font-size: 25px;
  text-align: center;
  color: #e5eae8;
  padding: 8%;
  padding-top: 22%;
}

.bar3{
  width: 150px;
  height: 150px;
  background: #7aa244;
  margin: 37px;
  box-shadow: 5px 5px 10px #878985;
  border-radius: 50%;
  margin-top: 20px;

}

.bar3 p{
  font-family: "Philosopher Regular", Philosopher, sans-serif;
  font-size: 25px;
  text-align: center;
  color: #1a1a1a;
  padding: 6%;
  padding-top: 20%;

}


.rightnull{
  width: 20%;

}



footer{
  background: #1a1a1a;
  display: flex;flex-direction: column;;
  border-top:0.5px solid #e5eae8; border-width: medium; border-top-style:solid;

}

.footerup{
  display: flex; flex-flow: row wrap; justify-content: space-around;
  margin-bottom: 10px;
  font-family: "Philosopher Regular", Philosopher, sans-serif; font-size: 20px;

}

.footerup .share{
   width: 50%; color: white;
}

.share ul{
  display: flex;flex-direction: row;
  padding-left: 0.5%;
  margin-top: 2%;
}

.share ul li{
  padding: 0 2%;
  border-right: 1px solid  #e5eae8;
  margin-right: 3px;
}

.share ul li:last-child{
  border-right: none;
}


.share ul li a{
  color: #e5eae8;
}

.share ul li:hover a{
  color: #7aa244; /*on hover the color of the text changes */
}

.footerup .subscribe{
  text-align: center; width: 50%; color: #e5eae8;
  margin-top: 20px; /*sets the margin to 20px from the top */
}

.subscribe img{
  height:28px;
}

.subscribe p{
  text-align: center;
}

.subscribe form{
  text-align: center;
}

.subscribe input[type=text]{
  color: #4a4a4a;
  background: #e5eae8;
  width: 110px;
  transition: width .75s ease-in-out; /*Input box completes its transition in 0.75s */
}

.subscribe input[type=text]:hover{
  width: 200px; /*When the input type text is clicked the width of the box increases */
}


.subscribe input[type=submit]{
  color: #1a1a1a;
  background: #e5eae8;
}

.footerbottom{
  font-family: "Philosopher Regular", Philosopher, sans-serif; font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px;

}

.copyright{
  text-align: center; color: #e5eae8;
}

@media all and (max-width: 600px){
  header{
    flex-direction: column;
    width: 98%;
  }

  .image{
    width: 100%;
    text-align: center;
  }

  .image img{
    width: 100%;
  }

  section{
    flex-direction: column;
    width: 100%;

  }

  .leftnull{
    height: 3px;
    width: 100%;
  }

  .main{
    flex-direction: column;
    width: 98%;

  }

  .menuleft{
    width: 93%;
    margin: 10px;
  }

  .menuright{
    flex-direction: column;;
    width: 100%;
    margin: 1px;
  }

  .bar1{
    width: 93%;
    height: 60px;
    background:#7aa244;
    margin: 10px;
    box-shadow: 5px 5px 10px  #878985;
    border-radius: 10px;
    align-self: stretch;
  }

  .bar1 p{
    font-family: "Philosopher Regular", Philosopher, sans-serif; font-size: 20px;
    text-align: center;
    color: #1a1a1a;
    padding: 0%;
  }

  .bar2{
    width: 93%;

    height: 60px;
    background:#1a1a1a;
    margin: 10px;
    box-shadow: 5px 5px 10px  #878985;
    border-radius: 10px;
    align-self: stretch;
  }

  .bar2 p{
    font-family: "Philosopher Regular", Philosopher, sans-serif; font-size: 20px;
    text-align: center;
    color:  #e5eae8;
    padding: 0%;
  }

  .bar3{
    width: 93%;

    height: 60px;
    background:#7aa244;
    margin: 10px;
    box-shadow: 5px 5px 10px  #878985;
    border-radius: 10px;
    align-self: stretch;
  }

  .bar3 p{
    font-family: "Philosopher Regular", Philosopher, sans-serif; font-size: 20px;
    text-align: center;
    color: #1a1a1a;
    padding: 0%;
  }

  .about{
    width: 120px;
    padding: 1%;
    font-size: 18px;
    margin-left: 60px;
  }

  .text{
    font-size: 16px;
  }



  .rightnull{
    height: 3px;
    width: 100%;

  }

  footer{
    flex-direction: column;

  }

  .footerup{
    flex-direction: column;
    width: 100%;
  }

  .share{
    width: 100%;
    text-align: left;

  }

  .share ul{
    margin-bottom: 3px;
  }

  .share ul li{
    font-family: "Philosopher Regular", Philosopher, sans-serif; font-size: 13px;

  }

   .subscribe{
    width: 100%;
    display: block;margin: 0 auto;
  }

  .subscribe p{
    display: none;
  }

  .subscribe img{
    height:20px;

    margin-bottom: 4px;
  }

  .subscribe input[type=text]{
    margin-bottom: 3px;
  }


  }
